name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Gradle (cache)
        uses: gradle/actions/setup-gradle@v3
        # with:
        #   cache-read-only: true   # se houver instabilidade no cache

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew

      - name: Build & Test
        run: ./gradlew build --no-daemon
